* {
  padding: 0;
  margin: 0;
}

section {
  background-color: #c5f8f8;
  /* selectores anidados, padre espacio y el hijo */
  /* section article aside ul > li{
        padding: 40px;
    } */
}

section h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

section .parrafo a {
  font-size: 24px;
}

section .parrafo a:first-child {
  font-size: 40px;
  color: aliceblue;
}

section a:last-of-type {
  color: red;
}

section aside a:nth-of-type(1) {
  color: blue;
}

section article figure {
  width: 200px;
}

section article figure picture img {
  width: 100%;
}

/* selectores de atributo */
footer form input {
  border: 2px solid lightgray;
  margin: 3px;
  color: green;
}

footer form input[type="email"] {
  padding: 10px;
}

section article span[role="img"] {
  background-image: url("./download.jpeg");
  display: block;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.modal {
  width: 500px;
  text-align: center;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

label[for="open"] {
  cursor: pointer;
  padding: 5px 10px;
  background-color: azure;
  border-radius: 50px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .modal {
  height: 300px;
  padding: 50px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

label[for="open"]:hover {
  background-color: blueviolet;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.hero {
  padding: 100px;
  text-align: center;
  position: relative;
  z-index: 0;
}

.hero h1 {
  color: white;
  font-size: 50px;
}

.hero::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/bc9PYTV.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  -webkit-filter: sepia(100%) brightness(250%) contrast(200%);
          filter: sepia(100%) brightness(250%) contrast(200%);
  /* filter: invert(100%); */
  /* filter: grayscale(100%) blur(5px); */
  z-index: -1;
}

/* .hero::after{} */
.rappi {
  background: transparent;
}

.rappi h1 {
  margin: 50px;
  text-align: center;
}

.rappi p {
  width: 70%;
  margin: 0 auto;
  font-size: 25px;
}

.rappi p::first-letter {
  font-size: 70px;
  color: gray;
}

.rappi p::first-line {
  font-style: oblique;
}

.rappi article ul li {
  color: orange;
  font-size: 70px;
}

.rappi article ul li:nth-child(3n + 1) {
  color: blue;
}

.rappi article span {
  margin: 50px auto;
  font-size: 45px;
  text-align: center;
  display: block;
  position: relative;
}

.rappi article span::before {
  content: '<';
  font-size: 45px;
  margin-right: 15px;
  cursor: pointer;
}

.rappi article span::after {
  content: '>';
  font-size: 45px;
  margin-left: 15px;
  cursor: pointer;
}

iframe {
  -webkit-filter: grayscale(100%) contrast(200%) invert(100%);
          filter: grayscale(100%) contrast(200%) invert(100%);
}

/* @media (max-width: 640px) and (min-width: 320px){
    .rappi p {
        width: 90%;
        font-size: 50px;
    }

    .rappi p::first-line {
        font-style: italic;
        font-weight: bold;
    }

    iframe{
        width: 100%;
    }

} */
@media (max-width: 640px) and (orientation: portrait) {
  .rappi p {
    width: 90%;
    font-size: 50px;
  }
  .rappi p::first-line {
    font-style: italic;
    font-weight: bold;
  }
  iframe {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */